######################################################################
# C/C++
######################################################################
*.o
# ## depend file
# *.d
## *nix static library
*.a
## *nix dynamic library
*.so
*.so.*
## windows  static library
*.lib
## windows dynamic library
*.dll
## disassemble
*.dis
## map file
*.map
## a.out format
*.out
## ELF format
*.elf
## Intel hex format
*.hex
## Motorola S record format
*.srec

#######################################################################
## Dot files
#######################################################################
.*
.local.vimrc
.pyclewn.project
.clang_complete

#######################################################################
## Git files
#######################################################################
!**/.gitignore
!**/.gitmodules
!**/.gitkeep

#######################################################################
## Build directories
#######################################################################
**/[Dd]ebug
**/[Rr]elease

#######################################################################
## CCS(Code Composer Studio files)
#######################################################################
**/.launches
**/.settings
!**/*.ccsproject
!**/*.cproject
!**/*.project

#######################################################################
## Atmel studio
#######################################################################
*.atsln
*.atsuo
*.cproj
*.eep
*.srec
*.lss

#######################################################################
## Renesas HEW
#######################################################################
*.obj
*.lib
*.rxc
*.lbp
*.hdp
*.hdp
*.hlk
*.pi
*.rxa
*.abs
*.rxg
*.ti

########################################################################
## Others
########################################################################
## tag file
tags
## cscope
*.out

*.bin
*.bak*
*.log
*.swp
*.gdb
*.cpio
