<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="git" />
    <package id="hg" />
    <package id="svn" />
    <package id="sourcetree" />
    <package id="winmerge-jp" />

    <package id="googledrive" />

    <package id="atom" />
    <package id="visualstudiocode" />
    <package id="vscode-powershell" />
    <package id="Everything" />

    <package id="launchy" />
    <package id="filezilla" />
    <package id="teraterm" />

    <package id="astyle" />
    <package id="ctags" />
    <package id="curl" />
    <package id="wget" />

    <package id="pycharm-community" />

    <package id="adobereader" />
    <package id="foxitreader" />
    <package id="pdfxchangeviewer" />

    <package id="cmake" />
    <package id="ninja" />
    <package id="doxygen.install" />
    <package id="graphviz" />

    <package id="vlc" />
    <package id="gimp" />
    <package id="inkscape" />
    <package id="jtrim" />
    <package id="paint.net" />

    <package id="recuva" />
    <package id="crystaldiskinfo" />
    <package id="crystaldiskmark" />

    <package id="vmwareplayer" />
    <package id="virtualbox" />
    <package id="vagrant" />
    <package id="vagrant-manager" />

    <package id="grepwin" />
    <package id="pt" />

    <!--
    installに失敗する
    <package id="devbox-rapidee" />
    <package id="rapidee" />
    <package id="sqlitebrower" />
    <package id="dropbox" />
    -->

    <!--
    C:/tools/
    という所にinstallされるのが微妙
    普通にインストールする
    <package id="msys2" />
    <package id="nodejs" />
    <package id="ruby" />
    -->

    <!--
    よくわからんが、mogrifyとconvertがインストールされない？
    MSYS2のやつでいいや。
    <package id="imagemagick" />
    -->

    <!--
    python2と3が区別してインストールされず共存できない。
    普通にインストールする。
    <package id="python" />
    <package id="python3" />
    -->

    <!--
    Pythonは普通にインストールするから、これもインストーラからにした方がええな。
    <package id="pyqt4" />
    <package id="pyqt5" />
    -->

    <!--
    lua拡張が無効になっているのでkaoriya-vimを使った方がいい
    <package id="vim" />
    -->
    <!--
    ConEmuからコマンドを実行しづらいので、普通にインストールする。
    <package id="conemu" />
    -->

</packages>
