<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="git" />
    <package id="hg" />
    <package id="svn" />

    <!-- コマンドラインツールは積極的に入れよう -->
    <package id="astyle" />
    <package id="ctags" />
    <package id="curl" />
    <package id="wget" />
    <package id="pt" />
    <package id="ack" />
    <package id="ag" />
    <package id="gnuwin32-grep.install" />
    <package id="gnuwin32-sed.install" />
    <package id="ninja" />
    <package id="nmap" />
    <package id="7zip.install" />
    <package id="ffmpeg" />
    <package id="jdk7" />
    <package id="jdk8" />

    <!--
    Microsoft公式の無償ツール集Sysinternalsを眺めてみた
    http://qiita.com/honeniq/items/f75b72f5f8fa52c16eaf
    -->
    <package  id="sysinternals" />

    <!--
    開発環境系は公式のインストーラを使った方がいいね
    <package id="msys2" />
    <package id="nodejs" />
    <package id="ruby" />
    -->
    <!--
    python2と3が区別してインストールされず共存できない。
    普通にインストールする。
    <package id="python" />
    <package id="python3" />
    -->

    <!--
    Pythonは普通にインストールするから、これもインストーラからにした方がええな。
    <package id="pyqt4" />
    <package id="pyqt5" />
    -->

    <!-- 常に最新版を使いたいようなやつも除外しておこうか
    <package id="hugo" />
    <package id="nyagos" />
    -->

    <!--
    この辺のツールは自分で入れた方がいいかなー。
    <package id="winmerge-jp" />
    <package id="sourcetree" />
    <package id="googledrive" />
    <package id="atom" />
    <package id="visualstudiocode" />
    <package id="vscode-powershell" />
    <package id="pycharm-community" />
    <package id="adobereader" />
    <package id="foxitreader" />
    <package id="pdfxchangeviewer" />
    <package id="cmake" />
    <package id="doxygen.install" />
    <package id="graphviz" />
    <package id="vlc" />
    <package id="gimp" />
    <package id="inkscape" />
    <package id="jtrim" />
    <package id="paint.net" />
    <package id="Everything" />
    <package id="launchy" />
    <package id="filezilla" />
    <package id="teraterm" />
    <package id="vmwareplayer" />
    <package id="virtualbox" />
    <package id="vagrant" />
    <package id="vagrant-manager" />
    -->

    <!-- 保留
    <package id="recuva" />
    <package id="crystaldiskinfo" />
    <package id="crystaldiskmark" />
    -->

    <!--
    installに失敗する
    <package id="devbox-rapidee" />
    <package id="rapidee" />
    <package id="sqlitebrower" />
    <package id="dropbox" />
    -->

    <!--
    よくわからんが、mogrifyとconvertがインストールされない？
    MSYS2のやつでいいや。
    <package id="imagemagick" />
    -->

    <!--
    lua拡張が無効になっているのでkaoriya-vimを使った方がいい
    <package id="vim" />
    -->
    <!--
    ConEmuからコマンドを実行しづらいので、普通にインストールする。
    <package id="conemu" />
    -->

</packages>
