<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="google-chrome-x64" />
  <package id="git.install" />
  <package id="firefox" />
  <package id="ctags" />
  <package id="curl" />
  <package id="git" />
  <package id="hg" />
  <package id="dropbox" />
  <package id="mingw" />
  <package id="mingw-get" />
  <package id="nodejs" />
  <package id="python" />
  <package id="python3" />
  <package id="ruby" />
  <package id="everything" />
  <package id="winmerge" />
  <package id="imagemagick" />
  <package id="qt-sdk-windows-x86-mingw_opengl" />
  <package id="sourcetree" />
  <package id="svn" />
  <package id="tortoisesvn" />
  <package id="pdfxchangeviewer" />
  <package id="foxitreader" />
  <package id="sumatrapdf.install" />
  <package id="pycharm-community" />
</packages>

